
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;
  color: black;
}
ul {
	list-style-type: none;
}

li {
	float: right; 
	height: 3em;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    margin: 5% auto;
    padding: 16px 16px;
    text-decoration: none;
    height: 0;
}

li img {
	width: 1.5em;
	margin: auto;
}

img {
	display: inline-block;
	width: 30%;
	margin: -10% auto -30% 33%;
	z-index: -10;
	}


#login {
	width: 4em;
	margin: auto;
	padding-top: -1em;
	margin-top: -30%;
	margin-left: -45%;
}

#textbox {
  display: inline-block;
  margin: 30% auto 0 28.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form.buttons {
  width: 100%;
  padding-left: 40%;
}

.btn-box {
	font-family: "Open Sans";
	font-size: 16px;
	background-color: #EA4436;
	font-color: white;
	border-color: #EA4436;
	border-style: solid;
	border: 1 1 1 1;
	padding: .5em 1em;
	margin: 1em 2em 2em 0;
}

#footer {
	position: absolute;
	width: 100%;
	font-size: 6px;
	font-color: lightgray;
	background-color: gray;
	height: 5%;
	display: block;
	top: 95.99%;

}

#footer li {
	line-height: 0em;
	background-color: gray;
}

#footer_left {
	float: left;
	display: inline-block;
}

.footer_right {
	float: right;
	display: inline-block;
}